:root {
	--background-color: #f5e8dd;
	--panel-color: #b5c0d0;
	--button-color: #b5c0d0;
	--button-hover-color: #7e8591;
	--text-color: #0c0c0c;
}

body {
	margin: 0;
	font-family:
		"Roboto",
		-apple-system,
		BlinkMacSystemFont,
		"Roboto",
		"Oxygen",
		"Ubuntu",
		"Cantarell",
		"Fira Sans",
		"Droid Sans",
		"Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
