.parameter-input {
	margin-top: 20px;
	padding: 20px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;

	font-size: larger;

	border-radius: 10px;
	background-color: var(--panel-color);
}

@media (max-width: 700px) {
	.parameter-input {
		flex-direction: column;
	}
}

.parameter-input-block {
	flex-grow: 1;
	text-align: center;
}

.parameter-input input {
	margin-left: 20px;
	border-radius: 5px;
	border-color: none;
	border-style: none;
	font-size: large;
}

.parameter-help {
	margin-top: 20px;
	padding: 20px;
	animation: slidedown 0.5s forwards;
	border-radius: 10px;
	background-color: var(--panel-color);
}

.parameter-help-button {
	width: 30px;
	height: 30px;
	background-color: transparent;
	border: none;
	justify-content: center;
	margin: 0;
	margin-top: -5px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.parameter-help-button img {
	width: 30px;
	height: 30px;
	margin: 0;
	padding: 0;
}

.parameter-help h3,
.parameter-help h4 {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.parameter-help p {
	margin-left: 0;
	margin-right: auto;
	max-width: fit-content;
	text-wrap: wrap;
	text-align: left;
}

.close-help-button {
	display: block;
	width: 200px;
	max-width: 90vw;
	height: 30px;

	margin-left: auto;
	margin-right: auto;

	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.close-help-button:hover {
	background-color: var(--button-hover-color);
}
